https://45.196.196.251 {
    tls {
        issuer acme {
            dir https://acme-v02.api.letsencrypt.org/directory
            profile shortlived
        }
    }
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
    }
    encode gzip zstd
    reverse_proxy 127.0.0.1:3000 {
        flush_interval -1
    }
}
